bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.obragris_api/.idea/copilot.data.migration.ask2agent.xml
/.idea/.idea.obragris_api/.idea/encodings.xml
/.idea/.idea.obragris_api/.idea/indexLayout.xml
/.idea/.idea.obragris_api/.idea/projectSettingsUpdater.xml
/.idea/.idea.obragris_api/.idea/vcs.xml
/.idea/.idea.obragris_api/.idea/workspace.xml
